name: ESP32-S3 Arduino Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Arduino CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
          echo "$HOME/bin" >> $GITHUB_PATH

      - name: Install ESP32 core
        run: |
          arduino-cli core update-index
          arduino-cli core install esp32:esp32

      - name: Compile sketch for ESP32-S3 N16R8
        run: |
          arduino-cli compile \
            --fqbn esp32:esp32:esp32s3 \
            --build-property build.flash_size=16MB \
            --build-property build.psram=opi \
            .

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: esp32-firmware
          path: |
            **/*.bin